
body {
    background-color: lightsteelblue;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
}

.numberInput {
    width: 2em;
}

.number {
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

.grid {
    display: table;
    border-collapse: separate;
    border-spacing: 1em 2px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input [type="number"] {
    -moz-appearance: textfield;
}
