
html, body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

input {
    font-family: 'Roboto', sans-serif;
    height: 15px; /* TODO should calculate the height */
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.25);
    outline: none;
}

input:focus {
    border-color: rgba(0, 0, 0, 1);
}

.delete {
    visibility: hidden;
}

/* Show when hovering any part of the row */
.trow:hover .delete {
    visibility: visible;
}

.numberInput {
    width: 2em;
}

.num {
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

.extra {
    text-decoration: underline;
    color: #7a7a7a;
}

.extra:hover {
    text-color: hsl(217, 71%, 53%);
}

.statBlock {
    margin: 0.5rem;
    padding: 1rem;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.top-margin {
    margin-top: 1rem;
}

.side-margin {
    margin: 0 0.5rem;
}

.grid {
    display: table;
}

.trow {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 0 0.5em 0 0;
}

.card.page {
    padding: 1rem;
}

.cell>input {
    display: block;
    margin: 0 auto;
}

.margin {
    margin: 1rem;
}

/* Consider making this another class for maintenance */
.cell.lbl {
    text-align: center;
}

.lbl {
    font-size: 0.75em;
    color: #444;
}

.single-line-edit>div,
.single-line-edit>p,
.single-line-edit>br {
    display: none;
}

span.single-line-edit {
    display: inline-block;
    min-width: 0.5em;
    min-height: 1em;
    border-radius: 0.2em;
    padding: 0 0.1em;
}

*[contenteditable=true] {
    background: rgba(0,0,0,0.1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Adjustments to Bulma.css */
.pagination-list {
    justify-content: center;
}
