
body {
    background-color: lightsteelblue;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

div.main {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
}

input {
    font-family: 'Roboto', sans-serif;
    height: 15px; /* TODO should calculate the height */
    border: 0px;
    background-color: rgba(256, 256, 256, 0.85);
}

/* Navigation */
.topnav {
    width: 100%;
    background-color: #789;
}

div.nav-item {
    display: inline-block;
    padding: 8px;
    background-origin: padding-box;
}

div.nav-item:hover {
    background-color: #567;
}

div.nav-item.selected {
    background-color: #000;
}

div.nav-item>a {
    color: white;
    text-decoration: none;
}

.blockHeader {
    margin-bottom: 0px;
}

.numberInput {
    width: 2em;
}

.number {
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: table;
    border-collapse: separate;
    border-spacing: 1em 2px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.cell input {
    display: block;
    margin: 0 auto;
}

/* Consider making this another class for maintenance */
.cell.label {
    text-align: center;
}

.label {
    font-size: 0.75em;
    color: #444;
}

.collapse{
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.single-line-edit>div,
.single-line-edit>p,
.single-line-edit>br {
    display: none;
}

span.single-line-edit {
    display: inline-block;
    min-width: 0.5em;
    min-height: 1em;
    border-radius: 0.2em;
    padding: 0 0.1em;
}

*[contenteditable=true] {
    background: rgba(0,0,0,0.1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
